RewriteEngine On

RewriteCond %{HTTP_HOST} ^(www\.)?aasthaskincentre\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^aasthaskincentre\.in$ [NC]
RewriteRule ^ https://www.aasthaskincentre.in%{REQUEST_URI} [R=301,L,NE]

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^www\.aasthaskincentre\.in$ [NC]
RewriteRule ^ https://www.aasthaskincentre.in%{REQUEST_URI} [R=301,L,NE]

DirectoryIndex index.html
ErrorDocument 404 /404.html
